/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  /* VendingMachine styles */
  .vending-machine {
    text-align: center;
    margin-top: 50px;
  }
  
  .vending-machine h1 {
    color: #333;
  }
  
  .vending-machine ul {
    list-style-type: none;
    padding: 0;
  }
  
  .vending-machine li {
    margin: 10px 0;
  }
  
  .vending-machine a {
    text-decoration: none;
    color: #007bff;
    font-size: 20px;
  }
  
  .vending-machine a:hover {
    text-decoration: underline;
  }
  
  /* Snack styles */
  .snack {
    text-align: center;
    margin-top: 50px;
  }
  
  .snack h1 {
    color: #333;
  }
  
  .snack p {
    font-size: 18px;
  }
  
  .snack a {
    text-decoration: none;
    color: #007bff;
    font-size: 20px;
  }
  
  .snack a:hover {
    text-decoration: underline;
  }
  